%section.balance.container
  .row
    .col-sm-10.col-sm-offset-1
      .h2 How much are you willing to sell your token for?
      .p A second-price auction will be held to match buyers with the lowest bid, but only the second-lowest bidder will win. This is to incentivize truthful answers and a fair competition.
      %div{'style' => 'padding-top: 30px'}
        = bootstrap_form_for @bid, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-3", html: {id: "payment-form"} do |f|
          %fieldset
            = f.number_field :bid_price, prepend: "$"
          %fieldset.actions.control-group.col-sm-offset-2
            .controls
              %input(type="submit" value="Submit" class="btn btn-primary")